@import "nativescript-theme-core/css/core.light.css";

.image {
    margin: 5px;
}
.label {
    margin-left: 20px;
    font-size: 15px;
}
.label.mini {
    font-size: 11px;
}
.label.price {
    font-size: 21px;
}

.list-to-basket {
    margin:15px;
}

.even {
    background-color: rgba(0,0,0,0.07);
}